div.bkgHome {
	position:absolute;
	display:block;
	z-index:60;
	top:110px;
	width:100%;
	min-width:1000px;
	height:475px;
	background-image:url('../img/bkgbnr_home.jpg');
	background-position:center top;
	background-repeat:no-repeat;
}
section {
	clear:both;
}
section[role="main"] section:nth-child(3) {
	border-top:1px #d0cfb3 solid; 
}
nav[role="services"] h2 {
	position:relative;
	float:left;
	width:500px;
	height:235px;
}
/*
	image replacement based on improved nash method here:
	http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/
*/
nav[role="services"] h2 a {
	position:relative;
	display:block;
	text-align:center;
	font-family: cursive, sans-serif;
	font-size:70px;
	text-transform:lowercase;
	text-decoration:none;
	overflow:visible;
}
nav[role="services"] h2 span {
	position:absolute;
	display:block;
	text-align:center;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	font-size:0.9em;
	top:0px;
	left:0px;
}
nav[role="services"] h2:nth-child(1) a {
	top:-21px;
	left:85px;
	color:#784242;
}
nav[role="services"] h2:nth-child(1) a:hover { color:#f07037; }
nav[role="services"] h2:nth-child(1) a.nir {
   height:204px; /* height of replacement image */
   width:322px; /* width of replacement image */
   margin-top:0;
   margin-left:0;
   padding:0;
   overflow:hidden;
}
nav[role="services"] h2:nth-child(1) a.nir:before {
	content:url(../img/btn_massage.png);
	display:inline-block;
	font-size:0;
	line-height:0;
}
html.lt-ie8 nav[role="services"] h2:nth-child(1) a.nir {
   height:151px;
   padding:0;
   margin:0;
   overflow:hidden;
   text-indent:-9000px;
   background:url(../img/btn_massage.png) no-repeat 0 0;
}
nav[role="services"] h2:nth-child(1) span {	
}
nav[role="services"] h2:nth-child(2) a {
	top:-21px;
	left:100px;
	color:#5b611b;
}
nav[role="services"] h2:nth-child(2) a:hover { color:#939858; }
nav[role="services"] h2:nth-child(2) a.nir {
   height:178px; /* height of replacement image */
   width:333px; /* width of replacement image */
   margin-top:0;
   margin-left:0;
   padding:0;
   overflow:hidden;
}
nav[role="services"] h2:nth-child(2) a.nir:before {
   content:url(../img/btn_herbalism.png);
   display:inline-block;
   font-size:0;
   line-height:0;
}
html.lt-ie8 nav[role="services"] h2:nth-child(2) a.nir {
   height:121px;
   padding:0;
   margin:0;
   overflow:hidden;
   text-indent:-9000px;
   background:url(../img/btn_herbalism.png) no-repeat 0 0;
}

section[role="featured_articles"] article h3 {
	color:#939757;
	font-weight:normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom:0;
	padding-top:110px;
}
article h4 {
	color: #784242;
	font-weight:100;
	font-family: Georgia, Times, "Times New Roman", serif;
	letter-spacing:1px;
	font-size:1.5em;
	margin-top:0;
}
section[role="featured_articles"] article h4 {
	font-style:italic;
	border-bottom:1px #d0cfb3 solid;
}
article[role="featured_article"] h3 {
	background-image:url(../img/img_featuredArticle.jpg);
	background-repeat:no-repeat;
}
article[role="stress_relief"] h3 {
	background-image:url(../img/img_featuredStressRelief.jpg);
	background-repeat:no-repeat;
}
article[role="featured_herb"] h3 {
	background-image:url(../img/img_featuredHerb.jpg);
	background-repeat:no-repeat;
}
section article:nth-child(1),
section aside:nth-child(1) {
	margin-right:30px;
}
section article:nth-child(2) {
	margin-right:36px;
}
section article,
section aside {
	position:relative;
	float:left;
	color:#666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width:309px;
	margin-top:2em;
	margin-bottom:2em;
}

#readMore_special {
	background-image: url(/img/btn_readMore_orange.png);
	width: 168px;
	height: 31px;
}
#readMore_stress {
	background-image: url(/img/btn_readMore_blue.png);
	width: 168px;
	height: 31px;
}
#readMore_herb {
	background-image: url(/img/btn_readMore_green.png);
	width: 168px;
	height: 31px;
}
#readMore_special:hover, #readMore_stress:hover, #readMore_herb:hover {
	background-position: center bottom;
}
section aside blockquote {
	margin:0px;
	color:#797fac;
	font-size:1.6em;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style:italic;
}
section aside blockquote:before {
	display:block;
	color:#a9ac79;
	font-size:5em;
	line-height:1em;
	margin-left:30%;
	margin-bottom:-0.5em;
	font-family: Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
	content:"\201C";
}
.vcard span {
	line-height:1.7em;
}
.vcard .organization-name {
	display:block;
	font-weight:bold;
}
.vcard .street-address, .vcard .extended-address {
	display:block;
}